@font-face {
  font-family: droid-jp;
  src: url(../media/DroidSansJapanese.ttf);
}

@font-face {
  font-family: elf-cjk;
  src: url(../media/ElfennauCJK.ttf);
}

body {
  background: #ffffff;
  color: #242c14;
}

#container {
  width: 798px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  border: 1px solid #000000;
}

#header {
  background: #212d21;
  color: #898f89;
  margin: 0;
  padding: 1em;
}

#content {
  background: #efefef;
  margin: 0;
  padding: 0.5em;
}

#footer {
  background: #747e60;
  margin: 0;
  padding: 1em;
}

#content table, #content th, #content td {
  border-collapse: collapse;
  border: 1px solid #808080;
  padding: 0.25em;
}

#content table.center {
  margin-left: auto;
  margin-right: auto;
}

#content table.no-head-bold th {
  font-weight: normal;
}

#content table.no-head-bold tr:first-child th {
  font-weight: bold;
}

#content ol {
  margin: 0;
}

#content ol li {
  padding-right: 0.75em;
}

#content ol.ol-2col {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

#content ol.ol-3col {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

#content ol.ol-4col {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
}

#content mark {
  font-weight: bold;
  font-variant: small-caps;
  background: inherit;
  color: 000000;
}

#content a {
  text-decoration: none;
}

#content a:link {
  color: #708870;
}

#content a:visited {
  color: #405840;
}

#content a:hover {
  color: #b5bea2;
}

.cjk {
  font-family: elf-cjk, droid-jp, sans-serif;
}
