body {
  background: #ffffff;
  color: #242c14;
}

#container {
  width: 798px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  border: 1px solid #000000;
}

#header {
  background: #212d21;
  color: #898f89;
  margin: 0;
  padding: 1em;
}

#content {
  background: #efefef;
  margin: 0;
  padding: 0.5em;
}

#footer {
  background: #747e60;
  margin: 0;
  padding: 1em;
}

#content table, #content th, #content td {
  border-collapse: collapse;
  border: 1px solid #808080;
  padding: 0.25em;
}

#content mark {
  font-weight: bold;
  font-variant: small-caps;
  background: inherit;
  color: 000000;
}

#content a {
  text-decoration: none;
}

#content a:link {
  color: #708870;
}

#content a:visited {
  color: #405840;
}

#content a:hover {
  color: #b5bea2;
}
