body {
  background: #bbbbdd;
}

#container {
  width: 798px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #000000;
}

#header {
  background: #ffdddd;
  margin: 0;
  padding: 0;
}

#footer {
  background: #ffdddd;
  margin: 0;
  padding: 0;
}
