body {
  font-family: sans-serif;
}

#content {
  overflow: auto;
}

#content h4 {
  margin: 0;
  padding: 0.5em;
  text-align: left;
}

#ipa-chart {
  float: right;
  display: block;
  width: 60%;
  font-size: 90%;
}

.switchboard {
  float: left;
  display: block;
  width: 19%;
  padding: 0.5%;
  font-size: 75%;
}

.group {
  display: inline-block;
  border: solid 1.5px black;
  border-radius: 12px;
  background: white;
  color: #ababab;
}

.feature {
  display: inline-block;
  padding-left: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
}


label + input[type = radio] + label {
}

input[type = radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

label {
  display: inline-block;
  padding: 2px 6px;
  cursor: pointer;
}

input[type = radio]:checked + label {
  color: black;
  font-weight: bold;
}

tr:first-child th {
  writing-mode: sideways-lr;
  margin-left: auto;
  margin-right: auto;
}

tr:last-child td {
  font-size: 90%;
}

.bro {
  display: block;
  font-size: 75%;
}

th {
  width: 1%;
  font-size: 75%;
}

th:first-child {
  text-align: right;
  width: 3%;
}

.wbp, .wlp, .wdp, .wap, .wrp, .wqp, .wpp, .wvp, .wup, .wfp, .wgp,
.wbn, .wln, .wdn, .wan, .wrn, .wqn, .wpn, .wvn, .wun, .wfn, .wgn,
.wbr, .wlr, .wdr, .war, .wrr, .wqr, .wpr, .wvr, .wur, .wfr, .wgr,
.wbt, .wlt, .wdt, .wat, .wrt, .wqt, .wpt, .wvt, .wut, .wft, .wgt,
.wbf, .wlf, .wdf, .waf, .wrf, .wqf, .wpf, .wvf, .wuf, .wff, .wgf,
.wba, .wla, .wda, .waa, .wra, .wqa, .wpa, .wva, .wua, .wfa, .wga,
.wbl, .wll, .wdl, .wal, .wrl, .wql, .wpl, .wvl, .wul, .wfl, .wgl,
.wbz, .wlz, .wdz, .waz, .wrz, .wqz, .wpz, .wvz, .wuz, .wfz, .wgz,
.wb2, .wl2, .wd2, .wa2, .wr2, .wq2, .wp2, .wv2, .wu2, .wf2, .wg2 {
  display: inline-block;
  float: left;
  width: 30%;
  text-align: right;
  margin-left: 5%;
}

.vbp, .vlp, .vdp, .vap, .vrp, .vqp, .vpp, .vvp, .vup, .vfp, .vgp,
.vbn, .vln, .vdn, .van, .vrn, .vqn, .vpn, .vvn, .vun, .vfn, .vgn,
.vbr, .vlr, .vdr, .var, .vrr, .vqr, .vpr, .vvr, .vur, .vfr, .vgr,
.vbt, .vlt, .vdt, .vat, .vrt, .vqt, .vpt, .vvt, .vut, .vft, .vgt,
.vbf, .vlf, .vdf, .vaf, .vrf, .vqf, .vpf, .vvf, .vuf, .vff, .vgf,
.vba, .vla, .vda, .vaa, .vra, .vqa, .vpa, .vva, .vua, .vfa, .vga,
.vbl, .vll, .vdl, .val, .vrl, .vql, .vpl, .vvl, .vul, .vfl, .vgl,
.vbz, .vlz, .vdz, .vaz, .vrz, .vqz, .vpz, .vvz, .vuz, .vfz, .vgz,
.vb2, .vl2, .vd2, .va2, .vr2, .vq2, .vp2, .vv2, .vu2, .vf2, .vg2 {
  display: inline-block;
  float: right;
  width: 30%;
  text-align: left;
  margin-right: 5%;
}

.vup, .vun, .vbr, .vur, .vvl {
  font-variant: small-caps;
}

.vb2, .vl2, .vd2, .va2, .vr2, .vq2, .vp2, .vv2, .vu2, .vf2, .vg2 {
  margin-right: 15%;
}
